.linkbtn {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    background-color: #84C639;
    border-color: #84C639;
    color: white;
    width: 90%;
    height: 40px;
}
    .linkbtn:hover {
        background-color: #FA1818;
        cursor: pointer;
    }
   .button:hover{
       cursor:pointer;
   }

#GirisYapBtn {
    color: #fff;
}

#GirisYapBtn:hover {
    color: #FA1818;
}
#KaydolBtn {
    color: #fff;
}
#KaydolBtn:hover {
    color: #FA1818;
}
