.linkbtn {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    background-color: #84C639;
    border-color: #84C639;
    color: white;
    width: 90%;
    height: 40px;
}
    .linkbtn:hover {
        background-color: #FA1818;
        cursor: pointer;
    }
.linkbtn2 {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    background-color: white;
    border-color: #84C639;
    color: red;
    width: 90%;
    height: 40px;
    
}

    .linkbtn2:hover {
        background-color: white;
        cursor: pointer;
        color:green;
        text-decoration:underline;
    }
   .button:hover{
       cursor:pointer;
   }

#GirisYapBtn {
    color: #fff;
}

#GirisYapBtn:hover {
    color: #FA1818;
}
#KaydolBtn {
    color: #fff;
}
#KaydolBtn:hover {
    color: #FA1818;
}
